@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Outfit:wght@100..900&family=REM:ital,wght@0,100..900;1,100..900&family=Sniglet:wght@400;800&display=swap');
@import "tailwindcss";

* {
    font-family: REM;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}